* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.gaiyou {
	width: 100%;
	height: 400px;
	background-image: url(img6/mv.jpg);
	background-size: cover;
	background-position: bottom;
}

.midashi {
	padding: 20px;
}

main {
	width: 840px;
	margin: 50px auto;
}

.k1 {
	padding-bottom: 30px;
	border-bottom: 1px solid gray;
	margin: bottom: 30px;
}

.k2 {
	padding-bottom: 30px;
	border-bottom: 1px solid gray;
	margin: bottom: 30px;
}

.k3 {
	padding-bottom: 30px;
	border-bottom: 1px solid gray;
	margin: bottom: 30px;
}

.k4 {
	padding-bottom: 30px;
	border-bottom: 1px solid gray;
	margin: bottom: 30px;
}